/* Inspired by: https://www.html5canvastutorials.com/blog/2012/06/custom-form-radio-checkbox/ */
input {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}
input:checked {
  color: #fff;
}
/* Inspired by: https://stackoverflow.com/a/25410621/11686135 */
input:checked:after {
  content: " ";
  background-image: url(../../assets/Product/arrow.svg);
  background-size: 22px 30px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 5px;
  color: #fff;
}
input.blue,
input.blue:checked {
  background-color: #143061;
}
input.purple,
input.purple:checked {
  background-color: #81396f;
}
input.pink,
input.pink:checked {
  background-color: #f6437d;
}
