.profile-subject {
  height: 356px;
  width: 603px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 83px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 89px;
  margin-top: 50px;
  margin-left: 73px;
}
.profile-parent {
  display: flex;
}
.profile-picture {
  height: 92%;
  width: 92%;
  background-size: cover;
  background-image: url("../../../assets/Home/standing.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.profile-info {
  height: 93px;
  width: 603px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 31px;
  margin-left: 73px;
  margin-top: 25px;
}
.profile-options .highlighted-btn {
  height: 48px;
  width: 255px;
  border-radius: 24px;
  background-color: #000000;
  color: white;
  margin-left: 73px;
  margin-top: 30px;
  border-color: #000000;
  box-shadow: 0 0px 10px 0px #1f212c;
}
.profile-options .highlighted-btn:hover {
  background-color: rgb(248, 240, 217);
  opacity: 0.8;
  color: #000000;
}

/* 
.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
} */

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px 25px 25px 25px;
  height: 639px;
  width: 603px;
  margin: 0 0px 0 100px;
  margin-top: 300px;
}
