.home-container {
  max-width: 100%;
  min-width: 1500px;
  height: 700px;
  /* width: 1500px; */
  max-height: 100%;
  background-image: url("../../assets/Home/background.webp");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
  .home-container {
    height: 60vh;
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    height: 45vh;
    background-size: 1200px;
  }
}

@media only screen and (max-width: 375px) {
  .home-container {
    height: 65vh;
  }
}
@media only screen and (max-width: 325px) {
  .home-container {
    height: 75vh;
  }
}
