.navigation-container {
  background-color: rgb(123, 123, 180);
}
.navigation-menu-item {
  height: 31px;
  width: 62px;
  color: #000000;
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 31px;
  text-align: center;
  justify-content: space-between;
}
.hamburger-menu {
  color: #000000;
}
