.navigation-container {
  background-color: rgb(123, 123, 180);
}
.navigation-menu-item {
  height: 31px;
  width: 62px;
  color: #000000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 31px;
  text-align: center;
  justify-content: space-between;
}
.hamburger-menu {
  color: #000000;
}
.MuiList-root {
  width: 170px;
}
.cart-item-img {
  height: 92px;
  width: 95px;
  border-radius: 12px;
}

.cart-item-details {
  margin-left: 10px;
}

.cart-item-details .colors {
  padding: 0 20px 0 0;
}

.cart-item-details h4 {
  margin: 10px 0 0 4px;
}

.cart-item-details button {
  border: none;
  outline: none;
  text-decoration: underline;
  background: transparent;
  padding-left: 4px;
  cursor: pointer;
}

.MuiBadge-colorPrimary {
  background-color: #d74179 !important;
  color: #fff;
}
