.countdown-container {
  height: auto;
  max-width: 1350px;
  width: 100%;
  background-color: #1f3162;
}
.countdown-parent {
  color: rgba(255, 255, 255, 0.72);
  font-family: Poppins;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 31px;
  position: relative;
}
.countdown-parent .close-btn {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
.countdown-parent .close-btn:hover {
  opacity: 0.7;
}
.countdown-details {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.countdown-clock-container {
  color: rgba(255, 255, 255, 0.72);
  display: flex;
  margin-left: 15px;
}
.countdown-clock-container > div {
  margin-right: 15px;
  line-height: 20px;
}
.countdown-clock-container .number {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.countdown-clock-container .text {
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .countdown-details {
    display: block;
    line-height: 20px;
  }

  .countdown-clock-container {
    margin-top: 10px;
    justify-content: center;
  }
}
