.footer-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 100%;
  max-width: 100%;
  width: 100%;
  color: white;
  margin-top: 50px;
  padding: 50px 80px;
  flex-wrap: wrap;
}
.footer-logo {
  height: 146px;
  width: 146px;
  background-image: url("../../assets/Footer/LiLogo.svg");
  background-repeat: no-repeat;
  margin-left: -20px;
  margin-right: 130px;
}
.footer-navigation-container {
  margin-right: 30px;
}
.footer-navigation-container h4 {
  margin: 0 0 5px;
}
.footer-navigation-subject {
  color: #f6437d;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 41px;
}

.footer-navigation-links a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
}
.footer-navigation-links {
  margin-right: 56px;
}

.footer-link1:hover {
  text-decoration: underline;
}
.footer-link2:hover {
  text-decoration: underline;
}

.footer-link3:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1110px) {
  .footer-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  /* .footer-navigation-container {
    margin-left: 0;
    margin-top: 20px;
  } */
}
@media only screen and (max-width: 880px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
    align-content: center;
  }
  .footer-navigation-container {
    margin-right: 70px;
  }
}
@media only screen and (max-width: 425px) {
  .footer-logo {
    display: flex;
    align-content: center;
    background-size: cover;
    /* height: 100px;
    width: 100px; */
    background-image: url("../../assets/Footer/LiLogo.svg");
    background-repeat: no-repeat;
    margin-right: 50px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-navigation-container {
    margin-left: 70px;
    margin-top: 20px;
  }
  .footer-navigation-subject {
    width: 150px;
  }
}
