.product-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .product-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .product-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .product-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .product-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .product-container {
    max-width: 1536px;
  }
}
.product-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* width: 50%; */
  height: 100%;
  margin-top: 125px;
}
.product-details {
  box-sizing: border-box;
  height: 567px;
  width: 302px;
  border: 1px solid #ececec;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
  margin: 15px;
  position: relative;
}
.product-info,
.colors {
  padding: 0 20px;
}
.product-parent img {
  height: 230px;
  width: 301px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.product-parent img:hover {
  transform: scale(1.04);
  transition: 1s ease-in;
  border-radius: 10px 10px 10px 10px;
}
.product-title {
  height: 33px;
  color: #000000;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33px;
}
.product-description {
  height: 56px;
  width: 255px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.product-details .cart-btn {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0 0 12px 12px;
  background-color: #000000;
  padding: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.product-details .cart-btn:hover {
  opacity: 0.7;
}
